<ion-header>
  <ion-navbar color="primary_80">
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image" [ngStyle]="{'background-image': 'url(' + background +')'}"></div>
  <div class="main-content" text-wrap text-center>
    <figure class="perfil">
      <img src="{{contato.Foto}}" [hidden]="!contato.Foto" (click)="abrirImagemPerfil(contato.ID)">
      <ion-icon name="contact" class="avatarHeader" [hidden]="contato.Foto"></ion-icon>
    </figure>
    <h4 class="list-item-nome-1">{{contato.Nome}}</h4>
    <p class="list-item-cargo">
      {{contato.Cargo}} &bull; {{contato.Gerencia}} &bull; {{contato.GerenciaExecutiva}}
    </p>
    <hr>


    <ion-list no-lines>
      <!--<ion-item class="contact-info">
        <ion-icon item-start name="ion-pound" color="orange_80"></ion-icon>
        <a href="#" class="ion_link">{{contato.Matricula}}</a>
      </ion-item>-->
      <ion-item class="contact-info" [hidden]="!contato.Email">
        <ion-icon name="mail" color="orange_80" (click)="enviarEmail(contato)" item-start></ion-icon>
        <a href="#" class="ion_link" (click)="enviarEmail(contato)">{{contato.Email}}</a>
      </ion-item>
      <ion-item class="contact-info" [hidden]="!contato.Telefone">
        <ion-icon item-start name="call" (click)="ligar(contato)" color="orange_80"></ion-icon>
        <a href="#" class="ion_link" (click)="ligar(contato)">{{contato.Telefone}}</a>
      </ion-item>
      <ion-item class="contact-info" [hidden]="!contato.Celular">
        <ion-icon item-start name="phone-portrait" (click)="whatsapp(contato)" color="orange_80"></ion-icon>
        <a href="#" class="ion_link" (click)="whatsapp(contato)">{{contato.Celular}}</a>
      </ion-item>
      <ion-item class="contact-info" [hidden]="!contato.Localizacao">
        <ion-icon item-start name="pin" color="orange_80"></ion-icon>
        <a href="#" class="ion_link" [hidden]="!contato.Localizacao">{{contato.Localizacao}}</a>
      </ion-item>
      <ion-item class="contact-info" [hidden]="!contato.Aniversario">
        <ion-icon item-start name="calendar" color="orange_80"></ion-icon>
        <a href="#" class="ion_link">{{contato.Aniversario}}</a>
      </ion-item>
    </ion-list>

    <div class="mesma-gerencia" [hidden]="contato.Interesse == ''">
      Interesses do Contato
    </div>
    <ion-list [hidden]="contato.Interesse == ''">
      <ion-item *ngFor="let i of Interesses">
        <ion-label class="list-item-cargo-1">{{i}}</ion-label>
      </ion-item>
    </ion-list>

    <div class="mesma-gerencia" [hidden]="contatosMesmaGerencia.length == 0">
      Contatos da Mesma Gerência
    </div>
    <ion-list [hidden]="contatosMesmaGerencia.length == 0">
      <ion-item-sliding *ngFor="let contato of contatosMesmaGerencia">
        <button ion-item (click)="showContato(contato)">
          <ion-avatar item-left [hidden]="contato.Foto == null">
            <figure>
              <img src="{{contato.Foto}}">
            </figure>
          </ion-avatar>
          <ion-avatar item-left [hidden]="contato.Foto != null">
            <ion-icon name="contact" class="avatarGrande"></ion-icon>
          </ion-avatar>
          <h2 class="list-item-nome-1">{{contato.Nome}}</h2>
          <p class="list-item-cargo-1">
            {{contato.Cargo}}
          </p>
          <p class="list-item-nome">{{contato.Telefone}}</p>
        </button>
        <ion-item-options side="left">
          <button ion-button (click)="enviarEmail(contato)">
            <ion-icon name="mail"></ion-icon>E-mail
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button (click)="ligar(contato)">
            <ion-icon name="call"></ion-icon>Ligar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
